@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sıla Taner</h1>
    <p> Cem Doruk Gürsoy <a href="https://docs.microsoft.com/aspnet/core"> ASP.NET Core ile kodlamaya tekrar döndüm</a>.</p>
</div>
 